{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
</head>
<body class="container-fluid">
<img src="{{data.image.url}}"></img><br>
<p class="text-center">{{data.item.title}}</p>
<br>
<table class="table table-striped table-bordered">
	<thead>
		<th>Date</th>
		<th>Day</th>
		<th>Weather</th>
	</thead>
	<tbody>
		{% for f in data.item.forecast %}
		<tr>
			<td>{{f.date}}</td>
			<td>{{f.day}}</td>
			<td>{{f.text}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</body>
</html>
