{% extends 'vj10base.html' %}
{% load static %}

{% block head %}
<script type="text/javascript" src="{% static 'js/welcome.js' %}"></script>
{% endblock %}

{% block content %}
<div class="card">
  <img class="card-img-top col-xs-4 col-sm-4 col-md-4" src="https://res.cloudinary.com/teepublic/image/private/s--yvTTMvtu--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1485530337/production/designs/1149712_1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Hello!!!I'm Kenny!!!.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div id="html_string">
</div>

<div id="foo"></div>
{% endblock %}
